doctype html
html(lang="en")
  head
    title Frontend developer with backend experience for hire - Portfolio of Sergey Pozhilov
    meta(charset="UTF-8")
    meta(name="description", content="")
    meta(name="author", content="Sergey Pozhilov")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Sacramento|Montserrat:300|Open+Sans:300,400,600")
    link(rel="stylesheet", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="assets/styles/main.css")

  body#top

    nav#nav.nav
      .container
        .nav__burger [|]
        ul.nav__main
          li: a.nav__link.js_nav_link(href="#top") Home
          li: a.nav__link.js_nav_link(href="#about") About
          li: a.nav__link.js_nav_link(href="#services") Services
          li: a.nav__link.js_nav_link(href="#works") Works
          li: a.nav__link.js_nav_link(href="#contact") Contact

    header#hero.hero: #hero-content.hero__wrapper
      h1#js-greeting.hero__caption Good morning,
      h2#hero-intro.hero__intro
        | I'm Sergey Pozhilov, a frontend developer
        | with backend experience and creative skills.

    article.main

      section#about.section.about
        .container
          .row
            .col-sm-4
              .about__specs
                .about__img: img(src="assets/images/sergey.jpg")
                .about__what
                  span UI/UX Design.
                  span Development.
                  span Websites.
                  span Web Apps.
                ul.social.about__social
                  li: a(href="https://github.com/pozh", _target="blank")
                    i.ion &#xf233;
                    span Github
                  li: a(href="https://twitter.com/serggg", _target="blank")
                    i.ion &#xf243;
                    span Twitter
                  li: a(href="mailto:sergey@pozhilov.com", _target="blank")
                    i.ion &#xf2eb;
                    span Email me
            .col-sm-8
              .about__intro
                p.about__who
                  | Struggling to find a reliable web developer who will do the job well, in time and on budget?
                  | A developer who does not need supervision?
                p
                  | I'm a full stack web developer working in the industry since early 2000s.
                  | I create nice looking, meaningful websites for clients worldwide &dash;
                  | from individuals to startups, small and medium organizations.
                p
                  | So, if you don't need just a web developer, but a development partner,
                  | I'll be glad to play that role for your business, bringing in all my experience,
                  | taste and coding skills to help you reach your goals.
                p
                  span.divider
                  strong Have a project I can help with?
                  br
                  br
                  a.btn.btn-secondary.js_nav_link(href="#contact") Get in touch
                  //- span.btn-divider or
                  a.btn.btn-link.js_nav_link(href="#services") Learn more about my services


      section#services.section.services
        .container
          h2.section__caption Services
          p.section__subcaption Learn what I can do for your business
          p.section__intro
            | With more than 10 years of experience I can help you build your web project from the ground up.
            | I can offer help from every stage of the process from design all the way through to a
            | Content Managed or e-commerce website. Maybe I can help you out with your next project?

          .services__content.row

            .service.col-sm-6.col-xl-4
              h2.service__caption
                .service__icon: img(src="assets/images/web-design-3.png", style="margin-left:-14px;")
                | Custom Web Design
              p.service__text
                | Web design is much more complex thing than just pretty picture. Good design should balance appearance,
                | brand messaging and functionality, with a clear and useful yet simple user experience.
                br
                br
                | I'm here to help you create a website that both fits in with the desired function and goals,
                | and makes your brand's online presence stronger.

            .service.col-sm-6.col-xl-4
              h2.service__caption
                .service__icon: img(src="assets/images/web-design-7.png")
                | Web Development
              p.service__text
                | A beautiful interface isn't complete until its grinded out with some good ol' code.
                | I bring my clients' projects to life using most recent tools and techniques, modern CMS and E-Commerce
                | solutions.
                br
                br
                | My code is fast, robust and conforms with web-standards.
                | I'm in constant contact with you, listening to your plans and requirements
                | and trying hard to deliver a functional website that your users will love.

            .service.col-sm-6.col-xl-4
              h2.service__caption
                .service__icon: img(src="assets/images/online-shop-1.png", style="margin-left:-8px;")
                | eCommerce Solutions
              p.service__text
                | With years of experience in general web development and eCommerce, I develop eCommerce
                | solutions tailored to the needs of my clients, their businesses, and customers.
                | I develop effective, efficient and well-designed eCommerce solutions utilizing Shopify, Magento,
                | WooCommerce and other popular platforms, to match your exact requirements.

            .service.col-sm-6.col-xl-4
              h2.service__caption
                .service__icon: img(src="assets/images/webapp.png")
                | Web Applications
              p.service__text
                | Do you have an idea for a web app? Are you ready to give it a test? If both answers are "Yes",
                | I'm here to help you bring your idea to reality. Since 2002, I've built a lot of web apps for
                | myself and for my clients, utilizing the most advanced and effective technologies and tools.
                | All you need to get started, describe your idea so I can prepare the development plan and price quote.
                br
                br
                | So, in short: you bring in the idea and all required content,
                | I deliver the web application, taking care about the full circle of its development - from
                | wireframes through to the final solution. Please note, multiplatform app is also an option, if required.

            .service.col-sm-6.col-xl-4
              h2.service__caption
                .service__icon: img(src="assets/images/themes-plugins.png")
                | Themes &amp; Plugins
              p.service__text
                | Whether you are going to apply a ready-made theme to your
                | WordPress-powered website, or need a brand new theme to be designed
                | and coded from scratch, I'll gladly help you.
                br
                br
                | Same about WordPress plugins. They help website owners to manage their websites,
                | keep them secure, accept payments, track orders and do many, many other things.
                | And I'll gladly make a custom plugin for you. All you need - contact me
                | and describe your needs in details.

            .service.col-sm-6.col-xl-4
              h2.service__caption
                .service__icon: img(src="assets/images/maintanance.png")
                | Website Maintanance
              p.service__text
                | As a business owner you need to do a lot of things, including site maintanance and management.
                | But who said you should either do that yourself or hire a full-time web developer?
                br
                br
                | If your web properties only require occasional updates, and hiring a person for that purpose
                | is overkill, let me be your "website guy". Drop me a line if that sounds good to you
                |  and we'll discuss the details of the deal.


      section#works.section.works
        .container
          h2.section__caption Recent Works
          p.section__subcaption Selected websites and webapps I've made recently
          p.section__intro
            | With more than 10 years of experience I can help you build your web project from the ground up.
            | I can offer help from every stage of the process from design all the way through to a
            | Content Managed or e-commerce website. Maybe I can help you out with your next project?

          .works__list
            .work: .row
              .col-md-4
                h4.work__title Wattsense
                p.work__services Front-end &amp; WordPress Development
                p.work__text
                  | WattSense is an IoT service for software deployment in indoor climate systems.
                p.work__actions
                  a.btn.work__btn-visit(href='http://wattsense.com', _target="blank") Visit Website
              .col-md-8
                  img.work__img(src='assets/images/work-wattsense.jpg', alt='Wattsense')
            .work: .row
              .col-md-4.order-12
                h4.work__title Lokad
                p.work__services Front-end, Squarespace &amp; Screwturn Wiki Development
                p.work__text
                  | Lokad provides business forecasting services. Robust and effective solutions for sales forecasting, inventory optimization, or staff planning.
                p.work__actions
                  a.btn.work__btn-visit(href='http://lokad.com', _target="blank") Visit Website
              .col-md-8
                  img.work__img(src='assets/images/work-lokad.jpg', alt='Lokad')
            .work: .row
              .col-md-4
                h4.work__title Sendtoreader
                p.work__services Front-end &amp; PHP Backend Development
                p.work__text
                  | SENDtoREADER is a webapp that instantly sends any web pages you're viewing to your Amazon Kindle ereader for future reference.
                  | Premium users can also subscribe to their favorite RSS feeds, so they will also be delivered to the user's Kindle.
                p.work__actions
                  a.btn.work__btn-visit(href='http://sendtoreader.com', _target="blank") Visit Website
              .col-md-8
                  img.work__img(src='assets/images/work-sendtoreader.jpg', alt='Sendtoreader')
            .work: .row
              .col-md-4.order-12
                h4.work__title Progressus Pro
                p.work__services Web Design &amp; Front-end Development
                p.work__text
                  | Beautiful and minimal multipurpose Bootstrap theme, suitable for a small corporate website or startup. Available to purchase.
                p.work__actions
                  a.btn.work__btn-visit(href='http://gettemplate.com/info/progressus-pro', _target="blank") Visit Website
              .col-md-8
                  img.work__img(src='assets/images/work-progressus.jpg', alt='Progressus Pro - Bootstrap template')


      section#contact.section.contact
        .container
          h2.section__caption Contact
          p.section__subcaption Looking to work together?
          p.section__intro
            | If you'd like to find out more about the services I offer or get a quote
            | for a new site build, please get in touch. For site build quotes the more information
            | you can provide me with the better (number of pages, functionality, etc).
            | That will allow me to quickly assess the work involved and provide you with a costing
            | and a build time estimate prior to scheduling an initial project meeting.
            br
            br
            | To contact me, please use the form below, or email me directly
            | at #[a(href="mailto:sergey@pozhilov.com", _target="blank") sergey@pozhilov.com].

          form#contact-form(method='post', action='thank-you', data-netlify="true", name="contact")
            fieldset
              .form-group.row
                  .col-sm-6
                    input.form-control(type='text', name='order_name', placeholder='Name')
                  .col-sm-6
                    input.form-control(type='email', name='order_email', required='required', placeholder='Email')
              .form-group
                textarea.form-control(name='order_details', required='required', placeholder='About your project', rows='7', cols='113')
              .form-group.row
                .col-sm-12: center
                  button.btn.btn-primary(type='submit') Submit Form

    footer.footer
      .footer__copy &copy; 2017 Sergey Pozhilov

    script(src="assets/js/vendor.js")
    script(src="assets/js/main.js")
