@import "myvariables";

// From Bootstrap
@import "mixins";
@import "functions";
@import "variables";
@import "reboot";
@import "bootstrap-grid";
@import "utilities";
@import "carousel";
@import "card";
@import "type";

@import "mybuttons";
@import "mymixins";




// General elements
// ------------------------------------------
html, body { height: 100%; }
body {
  display: none;
  &.loaded { display: initial; }
}

p {
  margin-bottom: 1.15em;
}

img { max-width: 100%; }

// HERO
// ------------------------------------------
.hero {
  position: fixed;
  width: 100%; height: 100%; z-index: 100;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: $white url(../images/bg-noon.jpg) no-repeat bottom center;
  background-size: cover;
  overflow: hidden;

  &__wrapper { text-align: center; }

  &__caption { opacity: .9; font-size: calc(1.2em + 12vw); font-family: Sacramento; }
  &__intro {
    font-family: "Open sans", Arial;
    font-size: calc(.5rem + 1vw); margin: 1em auto 0 auto; line-height: 1.4em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    width: 86%;
    @include media-breakpoint-up(sm) { width: 60%; }
    @include media-breakpoint-up(lg) { width: 40%; }
  }
  p { max-width: 70%; margin-top:1em; text-align: center; }
}


// NAVIGAION
// ------------------------------------------
.nav {
  width: 100%;
  position: fixed;
  z-index: 3000;
  background: transparent;
  font-size: 16px;
  text-align: right;

  .container { position: relative }
  > * { vertical-align: middle }

  &__link {
    position: relative;
    color: $black;
    &:hover, &:active, &:focus { color: $black; text-decoration: none; border-bottom: 2px solid $gray-800; }
  }

  &__burger {
    position: absolute;
    display: none;
    left: $spacer;
    top: 5px;
    width: 22px;
    height: 14px;
    text-indent: -9000px;
    border-top: 2px solid $gray-900;
    border-bottom: 2px solid $gray-900;
    cursor: pointer;
    opacity: .7;

    &:hover { opacity: 1; }

    &:before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
      width: 22px;
      height: 2px;
      background: $gray-900;
    }
  }

  &__wrapper {
    @include media-breakpoint-down(md) { display: none; }
  }

  &__main {
    float: right;
    padding: 16px 25px;
    margin-top: 20px;
    list-style: none;
    @include transition($transition-base);

    li {
      display: inline-block; margin: 0; padding: 0;
      & + li { margin-left: 42px; }
    }
  }

  &_alt {

    .nav__main {
      margin-top: -60px;
    }

    &.nav_delta .nav__main {
      margin-top: 0!important;
      background: theme-color("primary");
      box-shadow: inset 0 3px 0px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.1);

      .nav__link { color: $white; }
    }


    @include media-breakpoint-down(sm) {
      padding: 22px 0;
      height: 68px;
    }
  }
}



// SOCIAL ICONS
// ------------------------------------------
.social {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    * { vertical-align: middle; }
    & + li { margin-left: 7px; }
  }

  a {
    color: $gray-500;
    text-decoration: none;
    &:hover {
      color: $gray-900;
      .ion {
        color: theme-color("primary");
        background: $white;
        transform: translate(0, -1px);
        box-shadow: 0 3px 6px rgba(0,0,0,.1);

        // border-color: $gray-400;
      }
    }
  }

  .ion {
    color: $white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: theme-color("primary");
    border: 1px solid theme-color("primary");
    text-align: center;
    margin: 0;
    @include transition($transition-base);
  }
  span {
    display: none;
    font-size: .85rem;
  }
}



// HELPERS
// -----------------------------------------

// intext divider
.divider {
  display: block;
  width: 6%;
  height: 1px;
  margin: $spacer * 2 0;
  border-bottom: 2px solid $gray-900;
}



// ------------------------------------------
// MAIN PART & ITS SECTIONS
// ------------------------------------------



.main {
  z-index: 1000;
  background: transparent;
  position: relative;
}

.section {
  padding: $section-padding - 20px 0 $section-padding + 30px 0;
  background: $white;

  &:last-child { padding-bottom: $section-padding; }

  &__caption {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2.5px;
    font-weight: 600;
    // opacity: .4;
    color: theme-color("primary");
    margin: 0;
  }

  &__subcaption {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'Montserrat', 'Open sans', Arial;
    width: 80%;
    color: $black;
    margin: $spacer * 1.7 auto;
  }

  &__intro {
    text-align: center;
    padding: 0 10vh;
  }
}


// SECTION: ABOUT
// ------------------------------------------
.about {
  @include angle(before, true);

  &__specs { width: 286px; }
  &__social {
    // text-align: center;
    margin-top: 30px;
    li { margin-left: 0; padding-left: 0; }
  }
  &__what {
    font-family: "Open sans", Arial;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    cursor: crosshair;
    // text-align: center;
    span {
      display: block;
      margin-top: 10px;
      // padding: 15px 10px;
      // // border-top: 1px solid $gray-500;
      // background: $gray-300;
      // &:nth-child(2) { background: lighten($gray-300, 5%); }
      // &:nth-child(3) { background: lighten($gray-300, 7%); }
      // &:nth-child(4) { background: lighten($gray-300, 8%); }
    }
  }
  &__img {
    margin-bottom: 20px; position: relative;
    &:before {
      position: absolute; content: " "; display: block; z-index: -1; width: 100%; height: 100%;
      border:2px solid $gray-300; top: -10px; left: -10px;
    }
    // &:before {
    //   position: absolute; content: " "; display: block;  width: 20px; height: 20px;
    //   background:$red; top: -10px; left: -10px; border-radius: 50%;
    // }
  }
  img {
    width: 100%;
  }
  &__who { font-weight: 300; font-size: 1.4em; line-height: 1.3; color: theme-color("primary"); }
  &__intro { padding-left: 3vw; }
}



// SECTION: SERVICES
// ------------------------------------------
.services {
  background: $gray-100;
  @include angle(before, true);

  &__content {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.service {
  background: $gray-100;
  margin-bottom: 10px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  &__caption {
    background: $white;
    padding: 15px 10px 25px 10px;
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    box-shadow: 0 3px 25px rgba(0,0,0,.05);
  }
  &__icon {
    width: 40%;
    margin: 0 auto 10px auto;
    img { max-width: 100%; }
  }

  &__text {
    flex: 1;
    display: flex;
    align-items: center;
    background: $white;
    padding: 10px;
    font-size: .9rem;
    text-align: center;
    padding: 2vh 4vh;
    margin: 0;
    box-shadow: 0 3px 25px rgba(0,0,0,.05);
  }
}



// SECTION: WORKS
// ------------------------------------------
.works {
  background: $white;
  @include angle(before, true);

  &__list {
    margin: 50px 0 0 0;
  }
}

.work {
  position: relative;

  &__title {
    text-transform: uppercase;
    color: theme-color("primary");
  }

  &__services {
    color: $gray-400;
    font-size: .9rem;
  }

  &__text {
    margin: $spacer*2 0 0 0;
  }

  &__actions {
    margin: $spacer*2 0 $spacer 0;
  }

  &__img { box-shadow: 0 3px 15px rgba(0,0,0,.1); }

  &__btn-visit {
    @extend .btn-secondary;
  }

  & + .work
  {
    margin-top: $spacer * 6;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      background: theme-color("primary");
      width: 90px;
      height: 1px;
      top: -$spacer*3;
      left: 50%;
      margin-left: -45px;
    }
  }
}




// SECTION: CONTACT
// ------------------------------------------
.contact {
  background: $gray-100;
  @include angle(before, true);
}

.form-group {
  margin-bottom: $spacer;
}
.form-control {
  border: 4px solid #e3e3e3;
  padding: 7px;
  width: 100%;
  padding-left: 10px;
}



// FOOTER
// -------------------------------------------

.footer {
  z-index: 1100;
  position: relative;
  background: $gray-100;
  font-size: .9rem;
  padding-bottom: $spacer * 2;

  &__copy {
    width: 100%;
    text-align: center;
  }
}
